.container p{
    color: #C9AB84;
    text-align: center;
    margin-bottom: 13px;
}

.box_wrapper {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.box_wrapper .box {
    width: 62px;
    height: 60px;
    border: 1px solid #C9AB84;
    border-radius: 3px;
}

.box_wrapper .box h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    text-align: center;
    color: #AF9574;
    mix-blend-mode: normal;
}

.box_wrapper .box h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #AF9574;
    mix-blend-mode: normal;
    margin-top: -10px;
}

.box_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex: auto;
}

.box_wrapper  .colon{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .8rem;
}

.box_wrapper  .colon span{
    width: 7px;
    height: 7px;
    background-color: #AF9574;
    border-radius: 1px;
}

@media screen and (max-width: 360px) {
    .box_wrapper .box h1 {
        font-size: 20px;
    }
}